<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <h3 class="display-4">Veuillez vous connecter ou vous inscrire</h3>
    <div class="d-flex justify-content-center flex-column">
        <div class="mb-3">
            <a href="@Url.Action("Login", "Account")" style="text-decoration: none; color: white; background-color: #2196F3; padding: 10px 15px; border-radius: 5px; font-size: 14px; transition: 0.3s;">Se connecter</a>
        </div>
        <div>
            <a href="@Url.Action("Register", "Account")" style="text-decoration: none; color: white; background-color: #2196F3; padding: 10px 15px; border-radius: 5px; font-size: 14px; transition: 0.3s;">S'inscrire</a>
        </div>
    </div>
</div>
